all:
  storage:
    class: sfPDOSessionStorage
    param:
      db_table:    session              # Name of the table storing the sessions
      database:    doctrine             # Name of the database connection to use
      # Optional parameters
      db_id_col:   sess_id              # Name of the column storing the session id
      db_data_col: sess_data            # Name of the column storing the session data
      db_time_col: sess_time            # Name of the column storing the session timestamp
  view_cache:
    class: sfMemcacheCache #[required] define the cache strategy
    param:
      automaticCleaningFactor: 0
      cacheDir:                %SF_TEMPLATE_CACHE_DIR%
      servers: # Array of servers
        localhost:
          host: 127.0.0.1
